/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Open+Sans&display=swap');

#container {
	margin: 0 auto;
	width: 1024px;
	background-color: #ffffff;
}

/* Navigation */

#navbar{
	font-family: 'Open Sans', sans-serif;
	padding: 5px 0px 10px;
    padding: 20px;
}


ul{
	text-align: right;
	margin: 0px;
}

li{
	list-style-type: none;
	display: inline;
	font-size: 14px;
	padding: 5px;
}

a{
	text-decoration: none;
	color: #757575;
}

a:hover{
	text-decoration: none;
	color: #702DFF;

}

/* Header */

h1{
	font-family: 'Bad Script', cursive;
	font-size: 50px;
	padding: 50px 0px 0px;
	margin: 0px;
	color: #702DFF;
	/*color: #E2211D; */

}

.main-content{
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

.header-content{
	border: 2px solid #22e3e5;
	margin: 5px 0px 5px;
    padding: 20px;
}

#slogan{
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
}

p{
	font-size: 14px;
	color: #000;
}
/* Scrapbook Links */


.grid-container{
  display: block;
}

img {
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 5px;
  width: 250px;
  margin: 20px;
}

img:hover {
  box-shadow: 0 0 2px 1px #000;
}


.column{
	float: left;
	width: 300px;
  	height: 300px;
	padding: 20px;
	margin: 0;

}

#column4{
	float: left;
	margin-left: 125px;
	padding-top: 0px;

}

#column5{
	float: right;
	margin-right: 125px;
	padding-top: 0px;

}


.clearfix:after{
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  clear: both;
  display: table;
}

